<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
	   <li class="firstLevelMenu parent"><a  (click)="showDashboard()"><i class="fa fa-dashboard"></i> Dashboard</a></li>
     <li class="firstLevelMenu parent"><a  (click)="showDashboard2()"><i class="fa fa-dashboard"></i> Dashboard-II</a></li>
    
     <li class="firstLevelMenu parent"><a  (click)="showLogging()"><i class="fa fa-file-text-o" aria-hidden="true"></i> Logging</a></li>
     <li class="firstLevelMenu parent"><a (click)="showProjectStatus()" ><i class="fa fa-file-text-o" aria-hidden="true"></i>Project Health Status</a></li>
            
     <li class="firstLevelMenu parent"><a (click)="showNewInterface()"><i class="fa fa-file-text-o" aria-hidden="true"></i>Task Management</a></li>
        </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
