<div  class="container">

    <!-- The Modal -->
    <div class="modal" id="loggingDetailsModal">
      <div id="modelLogResize" class="modal-dialog modalDialogBox">
        <div class="modal-content">
  
          <!-- Modal Header -->
          <div class="modal-header">
            <div class="row">
              <h4 class="modal-title">Project Status Detail</h4>
              <button type="button" id="b1" class="close" (click)="closeModel()" data-dismiss="modal">&times;</button>
              <button type="button" class="btn btn-default reduce reduce" onclick="reduce()" style="display:none"><img src="assets/img/reduce.png"
                  alt="Resize" height="15" /></button>
              <button type="button" class="btn btn-default resize  enlarge" onclick="resize()"><img src="assets/img/enlarge.png"
                  alt="Resize" height="15" /></button>
            </div>
          </div>
  
          <!-- Modal body -->
          <div class="modal-body">
            <div class="content-wrapper" style="padding-top:20px !important">
              <section class="content">
                <div class="row">
                  <div class="col-md-2">
  
                    <div class="log_tab loggingTable">
                      <div class="row">
                        <div class="bioid" ><b>Project : <span>{{projectName}}</span></b></div>
                        <table  class="logmain logdet table-striped" border="1">
                          
                          <tr *ngIf="taskDetailList?.length > 0">
                            <td *ngIf="fields.issueIdFlag"><b> Issue Id</b> </td>
                            <td><b>Date</b> </td>
                            <td><b>TaskName</b> </td>
                            <td *ngIf="fields.taskTypeFlag"><b> TaskType</b> </td>
                            <td *ngIf="fields.serverFlag"><b> Server Name</b> </td>
                            <td *ngIf="fields.requestedByFlag"><b> Requested By</b> </td>
                            <td *ngIf="fields.approvedByFlag"><b>Approved By</b> </td>
                            <td *ngIf="fields.statusFlag"><b>Status</b> </td>
                            <td *ngIf="fields.l1IssuesOpenedFlag"><b> L1IssuesOpened</b> </td>
                            <td *ngIf="fields.l1IssuesClosedFlag"><b> L1IssuesClosed</b> </td>
                            <td *ngIf="fields.l2IssuesOpenedFlag"><b> L2IssuesOpened</b> </td>
                            <td *ngIf="fields.l2IssuesClosedFlag"><b> L2IssuesClosed</b> </td>
                            <td *ngIf="fields.descriptionFlag"><b> Description</b> </td>
                            <td *ngIf="fields.developmentCompletionFlag"><b> DevelopmentCompletion</b> </td>
                            <td *ngIf="fields.remarksFlag"><b> Remarks</b> </td>
                            <td *ngIf="fields.numBuildSprintWorkdFlag"><b> NumBuildSprintWorkd</b> </td>
                            <td *ngIf="fields.numberBuildSprintCompletedFlag"><b> NumberBuildSprintCompleted</b> </td>
                            <td *ngIf="fields.testsPerDayFlag"><b> TestsPerDay</b> </td>
                            <td *ngIf="fields.customerNameFlag"><b> CustomerName</b> </td>
                            <td *ngIf="fields.resolutionFlag"><b> Resolution</b> </td>
                            <td *ngIf="fields.targetDateFlag"><b> TargetDate</b> </td>
                            <td *ngIf="fields.virtualFarmsFlag"><b> VirtualFarms</b> </td>
                            <td *ngIf="fields.numOfServersFlag"><b> NumOfServers</b> </td>
                            <td *ngIf="fields.numOfDBsFlag"><b> NumOfDBs</b> </td>
                            <td *ngIf="fields.serverAvailablityFlag"><b> ServerAvailablity</b> </td>
                            <td *ngIf="fields.cpuLoadFlag"><b> CpuLoad</b> </td>
                            <td *ngIf="fields.availMemSpaceFlag"><b> AvailMemSpace</b> </td>
                            <td *ngIf="fields.availStorageSpaceFlag"><b> AvailStorageSpace</b> </td>
                            <td *ngIf="fields.dbAvailablityFlag"><b> DbAvailablity</b> </td>
                            <td *ngIf="fields.appAvailablityFlag"><b> AppAvailablity</b> </td>
                            <td *ngIf="fields.numClientsFlag"><b> NumClients</b> </td>
                            <td *ngIf="fields.numServiceFlag"><b> NumService</b> </td>
                            <td *ngIf="fields.numVechiclesFlag"><b> NumVechicles</b> </td>
                            <td *ngIf="fields.locationFlag"><b> Location</b> </td>
                            

                          </tr>
                          <ng-container *ngFor="let taskDetail of taskDetailList; let i = index">
                            <ng-container *ngFor="let projectStatusDetail of taskDetail.projectStatusDetails; let j = index">
                            <tr>
                            <td *ngIf="fields.issueIdFlag">{{projectStatusDetail.issueNumber}}</td>
                            <td>{{projectStatusDetail.dateSelection}}</td>
                            <td> {{taskDetail.taskName}}</td>
                            <td *ngIf="fields.taskTypeFlag"> {{taskDetail.taskType}}</td>
                            <td *ngIf="fields.serverFlag"> {{projectStatusDetail.server}}</td>
                            <td *ngIf="fields.requestedByFlag">{{projectStatusDetail.requestedBy}}</td>
                            <td *ngIf="fields.approvedByFlag">{{projectStatusDetail.approvedBy}}</td>
                            <td *ngIf="fields.statusFlag">{{projectStatusDetail.status}}</td>
                            <td *ngIf="fields.modelFlag">{{projectStatusDetail.model}}</td>
                            <td *ngIf="fields.l1IssuesOpenedFlag">{{projectStatusDetail.l1IssuesOpened}}</td>
                            <td *ngIf="fields.l1IssuesClosedFlag">{{projectStatusDetail.l1IssuesClosed}}</td>
                            <td *ngIf="fields.l2IssuesOpenedFlag">{{projectStatusDetail.l2IssuesOpened}}</td>
                            <td *ngIf="fields.l2IssuesClosedFlag">{{projectStatusDetail.l2IssuesClosed}}</td>
                            <td *ngIf="fields.descriptionFlag"><b>{{projectStatusDetail.description}}</b> </td>
                            <td *ngIf="fields.developmentCompletionFlag"><b>{{projectStatusDetail.developmentCompletion}}</b> </td>
                            <td *ngIf="fields.remarksFlag"><b>{{projectStatusDetail.remarks}}</b> </td>
                            <td *ngIf="fields.numBuildSprintWorkdFlag"><b>{{projectStatusDetail.numBuildSprintWorkd}}</b> </td>
                            <td *ngIf="fields.numberBuildSprintCompletedFlag"><b>{{projectStatusDetail.numberBuildSprintCompleted}}</b> </td>
                            <td *ngIf="fields.testsPerDayFlag"><b>{{projectStatusDetail.testsPerDay}}</b> </td>
                            <td *ngIf="fields.customerNameFlag"><b>{{projectStatusDetail.customerName}}</b> </td>
                            <td *ngIf="fields.resolutionFlag"><b>{{projectStatusDetail.resolution}}</b> </td>
                            <td *ngIf="fields.targetDateFlag"><b> {{projectStatusDetail.targetDate}}</b> </td>
                            <td *ngIf="fields.virtualFarmsFlag"><b> {{projectStatusDetail.virtualFarms}}</b> </td>
                            <td *ngIf="fields.numOfServersFlag"><b>{{projectStatusDetail.numOfServers}}</b> </td>
                            <td *ngIf="fields.numOfDBsFlag"><b>{{projectStatusDetail.numOfDBs}}</b> </td>
                            <td *ngIf="fields.serverAvailablityFlag"><b>{{projectStatusDetail.serverAvailablity}}</b> </td>
                            <td *ngIf="fields.cpuLoadFlag"><b>{{projectStatusDetail.cpuLoad}}</b> </td>
                            <td *ngIf="fields.availMemSpaceFlag"><b>{{projectStatusDetail.availMemSpace}}</b> </td>
                            <td *ngIf="fields.availStorageSpaceFlag"><b>{{projectStatusDetail.availStorageSpace}}</b> </td>
                            <td *ngIf="fields.dbAvailablityFlag"><b>{{projectStatusDetail.dbAvailablity}}</b> </td>
                            <td *ngIf="fields.appAvailablityFlag"><b>{{projectStatusDetail.appAvailablity}}</b> </td>
                            <td *ngIf="fields.numClientsFlag"><b>{{projectStatusDetail.numClients}}</b> </td>
                            <td *ngIf="fields.numServiceFlag"><b>{{projectStatusDetail.numService}}</b> </td>
                            <td *ngIf="fields.numVechiclesFlag"><b>{{projectStatusDetail.numVechicles}}</b> </td>
                            <td *ngIf="fields.locationFlag"><b>{{projectStatusDetail.location}}</b> </td>
                         </tr>
                         </ng-container>
                         </ng-container>
                        </table>
                        <!-- <table class="logmain logdet table-striped"> -->
                        <!-- </table> -->
                        <div class="spc_line"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
        </div>
          </div>