<div  class="container">

    <!-- The Modal -->
    <div class="modal" id="loggingDetailsModal">
      <div id="modelLogResize" class="modal-dialog modalDialogBox">
        <div class="modal-content">
  
          <!-- Modal Header -->
          <div class="modal-header">
            <div class="row">
              <h4 class="modal-title">Project Status Detail</h4>
              <button type="button" id="b1" class="close" (click)="closeModel()" data-dismiss="modal">&times;</button>
              <button type="button" class="btn btn-default reduce reduce" onclick="reduce()" style="display:none"><img src="assets/img/reduce.png"
                  alt="Resize" height="15" /></button>
              <button type="button" class="btn btn-default resize  enlarge" onclick="resize()"><img src="assets/img/enlarge.png"
                  alt="Resize" height="15" /></button>
            </div>
          </div>
  
          <!-- Modal body -->
          <div class="modal-body">
            <div class="content-wrapper" style="padding-top:20px !important">
              <section class="content">
                <div class="row">
                  <div class="col-md-2">
  
                    <div class="log_tab loggingTable">
                      <div class="row">
                        <div class="bioid" ><b>Project : <span>{{projectName}}</span></b></div>
                        <table  class="logmain logdet table-striped" border="1">
                          
                          <tr *ngIf="taskDetailList?.length > 0">
                            <td *ngIf="fields.issueNumberFlag"><b> Issue Id</b> </td>
                            <td><b>Date</b> </td>
                            <td><b>TaskName</b> </td>
                            <td *ngIf="fields.taskTypeFlag"><b> TaskType</b> </td>
                            <td *ngIf="fields.serverNameFlag"><b> Server Name</b> </td>
                            <td *ngIf="fields.accountFlag"><b> Account</b> </td>
                            <td *ngIf="fields.subProjectFlag"><b> Project Name</b> </td>
                            <td *ngIf="fields.subProjectTypeFlag"><b> Project Type</b> </td>
                            <td *ngIf="fields.requestedByFlag"><b> Requested By</b> </td>
                            <td *ngIf="fields.approvedByFlag"><b>Approved By</b> </td>
                            <td *ngIf="fields.statusFlag"><b>Status</b> </td>
                            <td *ngIf="fields.moduleFlag"><b>module</b> </td>
                            <td *ngIf="fields.l1IssuesOpenedFlag"><b> L1IssuesOpened</b> </td>
                            <td *ngIf="fields.l1IssuesClosedFlag"><b> L1IssuesClosed</b> </td>
                            <td *ngIf="fields.l2IssuesOpenedFlag"><b> L2IssuesOpened</b> </td>
                            <td *ngIf="fields.l2IssuesClosedFlag"><b> L2IssuesClosed</b> </td>
                            <td *ngIf="fields.descriptionFlag"><b> Description</b> </td>
                            <td *ngIf="fields.developmentCompletionFlag"><b> DevelopmentCompletion</b> </td>
                            <td *ngIf="fields.remarksFlag"><b> Remarks</b> </td>
                            <td *ngIf="fields.numBuildSprintWorkdFlag"><b> NumBuildSprintWorkd</b> </td>
                            <td *ngIf="fields.numberBuildSprintCompletedFlag"><b> NumberBuildSprintCompleted</b> </td>
                            <td *ngIf="fields.testsPerDayFlag"><b> TestsPerDay</b> </td>
                            <td *ngIf="fields.customerNameFlag"><b> CustomerName</b> </td>
                            <td *ngIf="fields.resolutionFlag"><b> Resolution</b> </td>
                            <td *ngIf="fields.targetDateFlag"><b> TargetDate</b> </td>
                            <td *ngIf="fields.virtualFarmsFlag"><b> VirtualFarms</b> </td>
                            <td *ngIf="fields.numOfServersFlag"><b> NumOfServers</b> </td>
                            <td *ngIf="fields.numOfDBsFlag"><b> NumOfDBs</b> </td>
                            <td *ngIf="fields.serverAvailablityFlag"><b> ServerAvailablity</b> </td>
                            <td *ngIf="fields.cpuLoadFlag"><b> CpuLoad</b> </td>
                            <td *ngIf="fields.availMemSpaceFlag"><b> AvailMemSpace</b> </td>
                            <td *ngIf="fields.availStorageSpaceFlag"><b> AvailStorageSpace</b> </td>
                            <td *ngIf="fields.dbAvailablityFlag"><b> DbAvailablity</b> </td>
                            <td *ngIf="fields.appAvailablityFlag"><b> Up time Availablity</b> </td>
                            <td *ngIf="fields.numClientsFlag"><b> NumClients</b> </td>
                            <td *ngIf="fields.numServiceFlag"><b> NumService</b> </td>
                            <td *ngIf="fields.numVechiclesFlag"><b> NumVechicles</b> </td>
                            <td *ngIf="fields.locationFlag"><b> Location</b> </td>
                            <td *ngIf="fields.resourceFlag"><b> Resource</b> </td>
                            <td *ngIf="fields.activityFlag"><b> Activity</b> </td>
                            <td *ngIf="fields.memberFlag"><b> Memeber</b> </td>
                            <td *ngIf="fields.developmentFlag"><b> Memeber</b> </td>
                            


                          </tr>
                          <ng-container *ngFor="let taskDetail of taskDetailList; let i = index">
                            <ng-container *ngFor="let projectStatusDetail of taskDetail.projectStatusDetails; let j = index">
                            <tr>
                            <td *ngIf="fields.issueNumberFlag">{{projectStatusDetail.issueNumber}}</td>
                            <td>{{projectStatusDetail.dateSelection}}</td>
                            <td> {{taskDetail.taskName}}</td>
                            <td *ngIf="fields.taskTypeFlag"> {{taskDetail.taskType}}</td>
                            <td *ngIf="fields.serverNameFlag"> {{projectStatusDetail.serverName}}</td>
                            <td *ngIf="fields.accountFlag">{{projectStatusDetail.account}} </td>
                            <td *ngIf="fields.subProjectFlag">{{projectStatusDetail.subProject}} </td>
                            <td *ngIf="fields.subProjectTypeFlag">{{projectStatusDetail.subProjectType}} </td>
                            <td *ngIf="fields.requestedByFlag">{{projectStatusDetail.requestedBy}}</td>
                            <td *ngIf="fields.approvedByFlag">{{projectStatusDetail.approvedBy}}</td>
                            <td *ngIf="fields.statusFlag">{{projectStatusDetail.status}}</td>
                            <td *ngIf="fields.moduleFlag">{{projectStatusDetail.module}}</td>
                            <td *ngIf="fields.l1IssuesOpenedFlag">{{projectStatusDetail.l1IssuesOpened}}</td>
                            <td *ngIf="fields.l1IssuesClosedFlag">{{projectStatusDetail.l1IssuesClosed}}</td>
                            <td *ngIf="fields.l2IssuesOpenedFlag">{{projectStatusDetail.l2IssuesOpened}}</td>
                            <td *ngIf="fields.l2IssuesClosedFlag">{{projectStatusDetail.l2IssuesClosed}}</td>
                            <td *ngIf="fields.descriptionFlag">{{projectStatusDetail.description}} </td>
                            <td *ngIf="fields.developmentCompletionFlag">{{projectStatusDetail.developmentCompletion}} </td>
                            <td *ngIf="fields.remarksFlag">{{projectStatusDetail.remarks}} </td>
                            <td *ngIf="fields.numBuildSprintWorkdFlag">{{projectStatusDetail.numBuildSprintWorkd}} </td>
                            <td *ngIf="fields.numberBuildSprintCompletedFlag">{{projectStatusDetail.numberBuildSprintCompleted}} </td>
                            <td *ngIf="fields.testsPerDayFlag">{{projectStatusDetail.testsPerDay}} </td>
                            <td *ngIf="fields.customerNameFlag">{{projectStatusDetail.customerName}} </td>
                            <td *ngIf="fields.resolutionFlag">{{projectStatusDetail.resolution}} </td>
                            <td *ngIf="fields.targetDateFlag"> {{projectStatusDetail.targetDate}} </td>
                            <td *ngIf="fields.virtualFarmsFlag"> {{projectStatusDetail.virtualFarms}} </td>
                            <td *ngIf="fields.numOfServersFlag">{{projectStatusDetail.numOfServers}} </td>
                            <td *ngIf="fields.numOfDBsFlag">{{projectStatusDetail.numOfDBs}} </td>
                            <td *ngIf="fields.serverAvailablityFlag">{{projectStatusDetail.serverAvailablity}} </td>
                            <td *ngIf="fields.cpuLoadFlag">{{projectStatusDetail.cpuLoad}} </td>
                            <td *ngIf="fields.availMemSpaceFlag">{{projectStatusDetail.availMemSpace}} </td>
                            <td *ngIf="fields.availStorageSpaceFlag">{{projectStatusDetail.availStorageSpace}} </td>
                            <td *ngIf="fields.dbAvailablityFlag">{{projectStatusDetail.dbAvailablity}} </td>
                            <td *ngIf="fields.appAvailablityFlag">{{projectStatusDetail.appAvailablity}} </td>
                            <td *ngIf="fields.numClientsFlag">{{projectStatusDetail.numClients}} </td>
                            <td *ngIf="fields.numServiceFlag">{{projectStatusDetail.numService}} </td>
                            <td *ngIf="fields.numVechiclesFlag">{{projectStatusDetail.numVechicles}} </td>
                            <td *ngIf="fields.locationFlag">{{projectStatusDetail.location}} </td>
                            <td *ngIf="fields.resourceFlag"> {{projectStatusDetail.resource}}  </td>
                            <td *ngIf="fields.activityFlag"> {{projectStatusDetail.activity}}  </td>
                            <td *ngIf="fields.memberFlag"> {{projectStatusDetail.Memeber}}  </td>
                            <td *ngIf="fields.developmentFlag"> {{projectStatusDetail.development}}  </td>
                              
                          </tr>
                         </ng-container>
                         </ng-container>
                        </table>
                        <!-- <table class="logmain logdet table-striped"> -->
                        <!-- </table> -->
                        <div class="spc_line"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
        </div>
          </div>