
<header class="main-header">
<div class="row">
  <div class="col-sm-12">
      <nav class="navbar navbar-inverse">
          <div class="container-fluid" style="">   
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">      
                <!-- <li> <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <i class="fa fa-right-arrow"></i>
                  </a></li>     -->
                  <li class="logo">
                    <img src="assets/img/weeklystatus-logo.svg" alt="logo" height="50">
                  <!-- <a href="index.html" >
                    
                   </a> -->
                </li>
                  <li> 
                      <a href="#" id="icon" class="icon" data-toggle="push-menu" role="button">	&#171;</a>
                      <a href="#" id="icon2" class="icon2" style="display:none" data-toggle="push-menu" role="button">&#187;
                      </a>
                 
                  </li>   
              </ul>
              <ul class="nav navbar-nav navbar-right">     
                
                <li class="welcome">
                  <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown">  </a> -->
                  <div class="row">
                    <!-- <div class="col-sm-3 user">
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                    </div> -->
                    <div class="col-sm-9">
                        <span class="hidden-xs">Welcome</span>  
                        <span class="hidden-xs">{{info.name}}</span>   
                    </div>
                  </div>
                  
                 </li>
                <li>
                  <button type="submit" id="logout" name="logout" (click)="logout()"class="btn btn-default btn-flat logoutTxt"><i class="fa fa-sign-out signOut" aria-hidden="true"></i><br/>Sign out</button>
              </li>
              <li class="logo1"> 
                <img src="assets/img/bct-logo.SVG" alt="logo" height="20">
                <!-- <a href="javascript:void(0);" ></a> -->
              </li>
             
              </ul>      
            </div>
          </div>
        </nav>
  </div>
</div>
    <!-- Logo -->
  <!-- <a href="index.html" class="logo">
   <img src="assets/img/biogen-logo-refresh-new.svg" alt="logo">
  </a> -->

  
</header>
