<div class="container-fluid loginBg"  >
    <header class="main-header" >
        <div class="row" >

          <div class="col-sm-12" >
              <nav class="navbar navbar-inverse">
                  <div class="container-fluid " >   
                    <div class="collapse navbar-collapse" id="myNavbar">
                      <ul class="nav navbar-nav">      
                        <li class="logo">
                            <img src="assets/img/etm_logo.png" alt="logo" height="50" style="float:right; margin-top:10px !important;  margin-left: -30px !important">
                          
                        </li>
                        <!-- <li> <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                            <i class="fa fa-right-arrow"></i>
                          </a></li>     -->
                          <!-- <li> 
                              <a href="#" id="icon" class="icon" data-toggle="push-menu" role="button">	&#171;</a>
                              <a href="#" id="icon2" class="icon2" style="display:none" data-toggle="push-menu" role="button">&#187;
                              </a>
                         
                          </li>    -->
                      </ul>
                      <ul class="nav navbar-nav navbar-right">      
                       
                        <li > 
                            <img src="assets/img/biogen-logo-refresh-new.svg" alt="logo" height="30" style="float:right; margin-top:8px; margin-right: 5px"  >
                           </li>
                      </ul>      
                    </div>
                  </div>
                </nav>
          </div>
        </div>
    
        </header>
       

        <div class="logout-page">       

            <div class="container-fluid">
                
                <div class="row" >
                    <div style="height:150px; display:block;">&nbsp;</div>
                    <div class="col-sm-8 leftSide">
                           
                        <div class="loginImg">

                            <img src="assets/img/logout_banner - v1.png" alt="loginimg"/>
                          </div>
                          <div style="height:10%; display:block;">&nbsp;</div>       
                          <div class="captionArea">
                              
                              <h4 class="caption">E<span>nterprise</span> T<span>ransaction</span> M<span>onitoring</span> (ETM) <span> helps you to log, notify, visualize transaction status</span></h4>
                          </div>
                         
        
                    </div>
                    <div class="col-sm-4 rightSide">
                        <div style="height:50px; display:block;">&nbsp;</div>
                        <div class="formContent">
                            <h3>Sign In </h3><br/>
                            <p style="font-size:18px;">Session timed out/exception occurred. Please login again for accessing ETM.</p>
                                <!-- <div style="margin-bottom: 35px" class="input-group">
                                  <span class="input-group-addon"><i class="fa fa-user-circle-o"></i></span>
                                  <input type="text" name="j_username" placeholder="User ID" class="form-control inputPadding" ngModel>
                                </div> -->
                                <!-- <div style="margin-bottom: 35px" class="input-group">
                                  <span class="input-group-addon passwordPadding"><i class="fa fa-lock" style="padding:0 2px 0 3px"></i></span>
                                  <input type="password" name="j_password" placeholder="password" class="form-control inputPadding" ngModel>
                                </div>
                         -->
                         <br/><br/><br/>
                                <div style="margin-top:10px" class="form-group">
                                  <div class="controls">
                                      <a href={{hostName}}> <button class="btn btn-lg btn-primary btn-block" type="submit" id="log" name="B1">Continue to Sign In</button></a>
                                  </div>
                                </div>
                              <div id="lstatus" style="color: #FF0000;"></div>
                         
                        </div>
                  </div>
                </div>
            </div>
               
                 <!-- Footer -->
                 <!-- <footer>
                    <div class="row footerBg">
                        <div class="col-lg-12">
                            <strong>Copyright &copy; 2018 <a href="#" style="color:#3fafd5">Biogen</a>.</strong>
                        </div>
                    </div>
                </footer> -->
                </div>
                
              </div>
              